Ты получаешь список уникальных форматирований текста в PDF-документе.
Каждое форматирование описывается следующим образом:
- `font`: имя шрифта (например, LinLibertineT)
- `size`: числовой размер шрифта
- `flags`: числовой код флагов (жирность, курсив и т.д.)

На основе этого определите, какой HTML-тег наиболее подходит каждому стилю. Доступные HTML-теги:
{% for tag in tags %}
- {{ tag }}
{% endfor %}


Ниже приведены примеры форматирований:

{% for style in styles %}
{{ style.index }}: font={{ style.font }}, size={{ style.size }}, flags={{ style.flags }}
{% endfor %}

Ответ: JSON вида { "0": "p", "1": "h2", ... }

